.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black url("/pattern.png");
  color: white;
  padding: 5vw;
}

.img {
  width: 50vw;
  padding: 5vw;
}

.story {
  padding: 10vh 5vw;
  max-width: 30vw;
  background-color: black;
}

.title {
  font-weight: 900;
  font-size: 4em;
}

.subtitle {
  font-weight: 600;
  font-size: 2.5em;
}

.title,
.subtitle {
  text-align: center;
  margin: 0;
  line-height: 1.2;
}
