.hero {
  position: relative;
  background: #000;
  color: #fff;
  text-align: center;
  height: 100vh;
  min-height: 700px;
}

.title {
  font-size: 10em;
  font-weight: 900;
  text-transform: uppercase;
  color: #c1cd24;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 12vmin;
  }
}

@media only screen and (max-width: 375px) {
  .hero {
    height: auto;
    min-height: 200px;
  }
}
