.container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background: black url("./pattern.png");
  color: white;
  padding: 5vw;
  overflow: hidden;
  position: relative;
}

.img {
  width: 50vmax;
  position: fixed;
  z-index: 1;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.story {
  padding: 10vh 5vw;
  width: 30vw;
  min-width: 430px;
  background-color: black;
  border: 1px solid #c1cd24;
  position: relative;
  z-index: 2;
}

.category {
  font-weight: 900;
  font-size: 1.2em;
  color: #c1cd24;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.title {
  font-weight: 600;
  font-size: 2.5em;
}

.category,
.title {
  margin: 0;
  line-height: 1.2;
}

blockquote {
  text-align: center;
}

.quote {
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}

.quote > p:before,
.quote > p:after {
  content: '"';
}

cite:before {
  content: "— ";
}
