.container {
  color: white;
  padding: 5vw 0 5vw 5vw;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.img {
  top: 0;
  width: 100%;
  position: sticky;
}

.img:after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: inset black 0px 0px 20vw 7vw;
  position: absolute;
}

.story {
  padding: 10vh 5vw;
  width: 30vw;
  min-width: 550px;
  background-color: black;
  border: 1px solid #c1cd24;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
}

.title {
  font-weight: 600;
  font-size: 2em;
  margin: 0;
  line-height: 1.2;
}

.story h3 {
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.2;
}

blockquote {
  text-align: center;
  margin: 2em 0;
  padding-bottom: 24px;
  border-top: 1px solid rgb(185, 185, 185);
  border-bottom: 1px solid rgb(185, 185, 185);
}

.quote {
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}

.quote > p:before,
.quote > p:after {
  content: '"';
}

cite:before {
  content: "— ";
}

.button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 16px 30px;
  border: 1px solid #c1cd24;
  transform: translate(20px, 50%);
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  background: linear-gradient(to left, black 50%, #c1cd24 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.button:hover {
  background-position: left bottom;
  color: black;
}

.stats {
  font-size: 18px;
  text-shadow: black 2px 2px 4px;
  line-height: 1.2;
  font-style: italic;
}

.stats > div > div {
  margin-bottom: 1em;
}

.stats strong {
  font-size: 2em;
  color: #c1cd24;
  font-style: normal;
}

.img-mobile {
  display: none;
  margin: 5vw 0;
}

.credit {
  font-size: 0.8em;
  color: #bdbdbd;
  position: relative;
  z-index: 2;
  padding: 0 2em;
  font-style: italic;
}

@media only screen and (max-width: 1100px) {
  .container {
    flex-direction: column-reverse;
  }
  .story {
    width: 80%;
    min-width: auto;
    margin: -40px auto 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  .story {
    padding: 5vw;
    margin: 0 auto 10vw auto;
    background-color: #0a304e;
    width: 100%;
  }
  .img-mobile {
    display: block;
  }
  .img {
    display: none;
  }
  .button {
    position: static;
    display: block;
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 375px) {
  .title {
    font-size: 1.5em;
  }
  .quote {
    font-style: 1em;
  }
}
