.container {
  display: flex;
  flex-wrap: wrap;
}

.container > p {
  flex-basis: 300px;
  padding: 0 20px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1;
}

.container > p > em {
  font-weight: 400;
  font-size: 20px;
}

.container > .even {
  flex: calc(50% - 40px);
  padding: 20px;
}

.container strong {
  font-weight: 600;
  font-size: 1.2em;
}

.container > .three {
  flex: 2;
}

.container > .one {
  flex: 1;
  margin-left: 20px;
}

.columns {
  column-count: 3;
  column-gap: 2em;
  text-align: justify;
  margin: 2em 0;
}

.presidentTitle {
  color: #c1cd24;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.scott {
  max-width: 40%;
  text-align: right;
}

.h2 {
  text-align: center;
  color: #c1cd24;
  font-weight: 900;
  letter-spacing: 3px;
  margin-top: 3em;
}

.center {
  text-align: center;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #333;
}

.table thead {
  text-align: left;
  vertical-align: top;
}

.table thead em {
  font-size: 0.7em;
  line-height: 1.2;
  display: block;
}

.table thead,
.table tfoot {
  background-color: rgb(26, 25, 25);
}

.table thead th,
.table tfoot td {
  border: 1px solid #333;
}

.table tr:nth-of-type(even) {
  background-color: rgb(15, 15, 15);
}

.table td,
.table th {
  padding: 5px 20px;
}

.table thead strong,
.table tfoot {
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .columns {
    column-count: 1;
    text-align: left;
  }
  .presidentTitle {
    line-height: 1;
  }
}
