.headline {
  font-weight: 900;
  color: #c1cd24;
  font-size: 3em;
  position: absolute;
  top: -2.5em;
  letter-spacing: 0.05em;
}

.flex {
  display: flex;
  align-items: flex-start;
  margin: 10em 0;
  position: relative;
}

.icon {
  flex: 1;
  max-width: 20vw;
  margin-right: 40px;
}

.textBox {
  flex: 2;
  border: 1px solid #fff;
  padding: 2em;
  position: relative;
  background-color: #0a304ee5;
}

.button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 16px 30px;
  border: 1px solid #fff;
  transform: translate(20px, 50%);
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  background: linear-gradient(to left, #0a304e 50%, white 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  color: #0a304e;
}

.button:hover {
  background-position: right bottom;
  color: white;
}

@media only screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
  .icon {
    max-width: 40vw;
    margin-right: 40px;
    margin-bottom: 40px;
  }
  .headline {
    top: -1em;
    line-height: 0.2;
    font-size: 2em;
  }
  .textBox {
    padding-top: 3.5em;
  }
}

@media only screen and (max-width: 375px) {
  .textBox {
    background-color: #000;
  }
  .button {
    transform: translate(0, 100%);
    text-align: center;
    background: #0a304e;
    left: 0;
  }
}
