.headline {
  font-weight: 900;
  color: #c1cd24;
  font-size: 3em;
  position: absolute;
  top: -1.9em;
  background-color: black;
  border-left: 10px solid black;
  border-right: 10px solid black;
}

.flex {
  display: flex;
  align-items: flex-start;
  margin: 10em 0;
  position: relative;
}

.icon {
  flex: 1;
  max-width: 20vw;
  margin-right: 40px;
}

.textBox {
  flex: 2;
  border: 1px solid #c1cd24;
  padding: 2em;
  position: relative;
  background-color: #000000e5;
}

.button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 16px 30px;
  border: 1px solid #c1cd24;
  transform: translate(20px, 50%);
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  background: linear-gradient(to left, black 50%, #c1cd24 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  color: black;
}

.button:hover {
  background-position: right bottom;
  color: white;
}

@media only screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
  .icon {
    max-width: 40vw;
    margin-right: 40px;
    margin-bottom: 40px;
  }
  .headline {
    top: -1em;
    line-height: 0.2;
  }
}
