@font-face {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
  font-display: swap;
}

html {
  background-color: black;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  line-height: 1.65;
  color: #373f49;
  background: black;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 10vmax);
  margin: 0 auto;
  color: #ddd;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

.article-list > li {
  flex: 1;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

.pathOffset {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 3s ease infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 100;
  }
  10% {
    stroke-dashoffset: 100;
  }
  30% {
    stroke-dashoffset: 0;
  }
  60% {
    stroke-dashoffset: 0;
  }
  80% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 100;
  }
}

.leafRotate {
  transform: rotateZ(0deg);
  transform-origin: 32% 40%;
  animation: leafRotation 3s ease infinite;
}

@keyframes leafRotation {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  30% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  60% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.squiggle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: squiggleDash 6s ease infinite;
}

@keyframes squiggleDash {
  0% {
    stroke-dashoffset: 1000;
  }
  20% {
    stroke-dashoffset: 0;
  }
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}
