.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vmin 5vw;
  color: #fff;
  position: relative;
  z-index: 2;
  background-color: black;
  text-transform: uppercase;
  text-align: center;
}

.copy {
  text-transform: none;
  font-size: 16px;
}

.links {
  list-style: none;
  display: flex;
  margin: 0;
}

.links li {
  padding: 10px 10px 0 10px;
}

.links a {
  text-decoration: none;
}

.links a:hover {
  color: #ddd;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .links {
    padding-left: 0;
  }
}
