.container {
  width: 100%;
}

.waveContainer {
  position: absolute;
  left: 200px;
  right: 0;
  height: 100px;
  width: 100%;
  top: 25%;
  z-index: 0;
}

.waveUnhovered {
  animation: move-forever 15s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.waveHovered {
  animation: move-forever 1s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
